$bg-pic: url("../img/image.jpg");
$bg-repeat: no-repeat;
$bg-attachment: fixed;
$bg-position: top;
$bg-size: 100%;
$frame-padding: 2%;

html {
	body {
		width: 100%;
		height: 100%;

		background-repeat: $bg-repeat;
		background-attachment: $bg-attachment;
		background-position: $bg-position;

		-webkit-background-size: $bg-size;

		.unselectableText { 
			-webkit-user-select: none; 
			-khtml-user-select: none; 
			-moz-user-select: none; 
			-o-user-select: none; 
			user-select: none; 
		}

		#search-block {
			margin-top: 1%;
			#input-bar {
				background: rgba(255,255,255,0.8);
				border: 0;
			}
		}
		
		.top-frame {
			background: rgba(0, 0, 0, 0.2);
			border-radius: 20px;
			padding: $frame-padding;
		}

		#memo-txt {
			width: auto;
			border: none;
			background: rgba(0,0,0,0);
			padding: $frame-padding;
			margin: 1%;
			margin-top: 10%;
			color: white;
			text-shadow: 2px 2px #000;
			text-align: center;
			font-size: 30px;
			font-weight: bold;
			font-style: italic;
		}

		#shortcut-list {
			margin-top: 1%;
			margin-left: 3%;
			margin-bottom: 0%;
			li {
				list-style: none;
				display: inline;
				margin: 1%;
				a{
					img {
						width: 40px;
						heigth: 20px;
						padding: 0%;
						background: rgba(0,0,0,0);
					}
				}
			}
		}
	}
}

